<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i> -->
            <!--             
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i> -->

            <a href="https://github.com/akshayghodki" class="github"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://www.linkedin.com/in/akshay-ghodki-04a903233/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BUTH9K%2F37QsuP19BD5WJxVg%3D%3D"
                class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/avi.ghodki" class="facebook"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/its__ghodki__6__19/" class="instagram"><i
                    class="fa-brands fa-square-instagram"></i></a>

        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>